<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="conn" connectionString="Server=.;Database=UserAuction;Trusted_Connection=True;"/>
    <add name="Testconn" connectionString="Server=.;Database=UserAuctionTest;Trusted_Connection=True;"/>
  </connectionStrings>
</configuration>